.buttonAdjust {
    margin-top: 5%;
    margin-right: 2%;

}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 200px;
    min-height: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #82ca9c;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(59, 106, 2, 0.725);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #82ca9c;
    box-shadow: 0 0 60px rgba(75, 153, 7, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    background: #24f872;
    color: #313133;
    transform: translateY(-6px);
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}